{% extends "layout.html" %}
{% block body %}
<section>
    <div id="toolbar">
        <button id="restore">Restore position</button>
        <button id="zoomin">Zoom in</button>
        <button id="zoomout">Zoom out</button>
        <button id="panbackonehour">Pan back one hour</button>
        <button id="panbackonehour">Pan forward one hour</button>
    </div>
</section>
<div id="sensorgraph"></div>
<p><b>Show Series:</b></p>
<p>
    <input type=checkbox id="0" onClick="change(this)">
    <label for="0"> Light</label><br/>
    <input type=checkbox id="1" checked onClick="change(this)">
    <label for="1"> Sound</label><br/>
    <input type=checkbox id="2" checked onClick="change(this)">
    <label for="2"> Temperature</label>
    <input type=checkbox id="2" checked onClick="change(this)">
    <label for="2"> Humidity</label>
</p>

{% include "popup.html" %}

<!-- Scripts -->
<script src="dygraph-combined.js"></script>
<script src="interaction-api.js"></script>
<script src="jquery-2.1.4.min.js"></script>
<script src="script.js"></script>
{% endblock %}
