<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>{{ title }}</title>
</head>
<body>
        <div id="wrapper">
            <!-- Heading -->
            <ul id="header">
                <li>
                    <a href="http://www.intel.com.au/content/www/au/en/do-it-yourself/galileo-maker-quark-board.html" target="_blank"><img height="60" src="galileo.png" /></a>
                </li>
                <li><h1>Sensor<br/>Project</h1></li>
                <li><!--<a href="https://www.arduino.cc" target="_blank"><img height="60" src="arduino.jpg"/></a>--></li>
                <li class="right"><a href="http://jmss.vic.edu.au" target="_blank"><img height="60" src="jmss.png" /></a></li>
                <li class="right"><a href="http://www.youngictexplorers.net.au/" target="_blank"><img height="60" src="YICTE.png" /></a></li>
            </ul>
            <article>
                {% block body %}{% endblock %}
            </article>
            <!-- Footer -->
            <footer>
                <ul>
                    <a id="open_about" href="#about"><li>About Project</li></a>
                    <a id="open_series" href="#series"><li>Series</li></a>
                    <a id="open_instructions" href="#instructions"><li>Instructions</li></a>
                </ul>
            </footer>
        </div>
</body>
</html>
